<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Reservation App</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
	<script src="/js/send_url.js"></script>
</head>
<body>
    <%- include('header'); %>
    <h1>自習室</h1>        
    <div id="seat-container">
        <h2>座席を選択してください。</h2>
        <div id="seats-grid">
            <% seats.forEach((seat) => { %>
                <% if(seat.user_id === 0){ %>
                    <div class="seat available" data-seat-number="<%=seat.seat_number%>"><%=seat.seat_number%></div>
                <% } else { %>
                    <div class="seat unavailable" data-seat-number="<%=seat.seat_number%>"><%=seat.seat_number%></div>
                <% } %>
            <% }) %>
        </div>
    </div>
    <div id="study-container" style="display: none;">
        <h2>勉強内容と時間を記録してください。</h2>
        <div class="study-content">
            勉強内容
            <input type="text" id="study-content" />
        </div>
        <div id="stopwatch">
            <p id="time">00:00:00</p>
            <button id="start">計測を開始</button>
            <button id="stop" disabled>測定を記録</button>
        </div>
    </div>
    <script src="/js/room_script.js"></script>
</body>
</html>
